body
{
	margin: 0px;
}

a
{
	text-decoration: none;
}

p
{
	font-family: Comic Sans MS;
	color: #EED0A0;
	font-size: 1.4vw;
	margin-top: 0.25%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 0px;

	position: absolute;
}

.option
{
	font-family: Comic Sans MS;
	color: #684E24;
	position: relative;
	font-size: 1.2vw;
	font-weight: bold;
	border-width: 0.25vw;
	background-color: #D1AF7A;
	border-color: #684E24;
	margin-top: 9.3%;
	margin-left: 3%;
}

.option:hover
{
	color: #5F451B;
	border-color: #5F451B;
	background-color: #BC9A64;
}

.option:active
{
	color: #5F451B;
	border-color: #5F451B;
	background-color: #B28E56;
}

.cname
{
	font-family: Comic Sans MS;
	color: #73B4FF;
	font-size: 1.4vw;
	font-weight: bold;
	position: absolute;
	border-width: 0.25vw;
	background-color: transparent;
	border-radius: 50%;
	border-color: #73B4FF;
}

.cname:hover
{
	border-color: #5096DE;
	color: #5096DE;
}

.failed
{
	font-family: Comic Sans MS;
	font-size: 1.4vw;
	font-weight: bold;
	position: absolute;
	border-width: 0.25vw;
	background-color: transparent;
	border-radius: 50%;
	border-color: #F99494;
	color: #FA8181;
}

.failed:hover
{
	border-color: #EF7474;
	color: #F46767;
}

.completed
{
	font-family: Comic Sans MS;
	font-size: 1.4vw;
	font-weight: bold;
	position: absolute;
	border-width: 0.25vw;
	background-color: transparent;
	border-radius: 50%;
	border-width: 0px;
	color: #8DFC7E;
	padding-left: 0.4%;
}

.completed:hover
{
	color: #8DFC7E;
}

.disabled
{
	font-family: Comic Sans MS;
	font-size: 1.4vw;
	font-weight: bold;
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	border-width: 0px;
	color: #5096DE;
}

.disabled:hover
{
	color: #5096DE;
}

.clickArea
{
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.window
{
	width: 65vw;
	height: 15vh;
	background-color: #80602D;
	border:0.3vw solid #B18C51;	
	position: absolute;
	margin-left: 17.5%;
	margin-top: 0.5%;
	border-radius: 1.5vw;
}

#action
{
	margin-top: 47%;
}

#darken
{
	background-color: rgba(150,150,150,0.5);
	height: 100vh;
	width: 100vw;
	position: absolute;
}

#weapW
{
	height: 35vw;
	width: 50vw;
	margin-left: 25%;
	margin-top: 5%;
}

#worldW
{
	height: 7.5vh;
}

#restart
{
	margin-top: 15%;
}

#win
{
	margin-top: 15%;
}

#mainMenu
{
	margin-left: 5%;
	margin-top: 2%;
}

#bg
{
	margin-left: 63.5%;
	margin-top: 41.2%;
}

#fr
{
	margin-left: 30.5%;
	margin-top: 34%;
}

#uk
{
	margin-left: 26.7%;
	margin-top: 23.5%;
}

#it
{
	margin-left: 42.3%;
	margin-top: 36.8%;
}

#ru
{
	margin-left: 85%;
	margin-top: 16%;
}

#ge
{
	margin-left: 41%;
	margin-top: 26.5%;
	font-size: 1.6vw;
}

.bgBg
{
	background: url(./images/bgBg.jpg) no-repeat left top;
	background-size: 100%;
}

.bgFr
{
	background: url(./images/bgFr.jpg) no-repeat left top;
	background-size: 100%;
}

.bgUk
{
	background: url(./images/bgUk.jpg) no-repeat left top;
	background-size: 100%;
}

.bgIt
{
	background: url(./images/bgIt.jpg) no-repeat left top;
	background-size: 100%;
}

.bgRu
{
	background: url(./images/bgRu.jpg) no-repeat left top;
	background-size: 100%;
}

.bgGe
{
	background: url(./images/bgGe.jpg) no-repeat left top;
	background-size: 100%;
}
