button
{
	font-family: Comic Sans MS;
	color: #73B4FF;
	font-size: 1.4vw;
	font-weight: bold;
	position: absolute;
	border-width: 0.25vw;
	background-color: transparent;
	border-radius: 50%;
	border-color: #73B4FF;
}

button:hover
{
	border-color: #5096DE;
	color: #3078CA;
}

body
{
	margin: 0px;
}

a
{
	text-decoration: none;
}

div
{
	width: 65vw;
	height: 15vh;
	/*background: rgba(225, 225, 225, 0.75);*/
	background: url(./images/WorldMap.jpg) no-repeat left top;
	background-size: 100%;
	border-width: 10vw;
	border-color: black;
	border: solid;
	position: absolute;
	margin-left: 17.5%;
	margin-top: 0.5%;
	border-radius: 1.5vw;
}

p
{
	font-family: Comic Sans MS;
	color: #73B4FF;
	font-size: 1.4vw;
	margin-top: 0.3%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0px;
}

.failed
{
	border-color: #F99494;
	color: #FA8181;
}

.failed:hover
{
	border-color: #EF7474;
	color: #F46767;
}

.completed
{
	border-width: 0px;
	color: #8DFC7E;
}

.completed:hover
{
	color: #8DFC7E;
}

.disabled
{
	border-width: 0px;
	color: #3078CA;
}

.disabled:hover
{
	color: #3078CA;
}

#ls
{
	width: 100vw;
	height: 100vh;
}

#restart
{
	margin-top: 15%;
}

#win
{
	margin-top: 15%;
}

#mainMenu
{
	margin-top: 53.5%;
}

#bg
{
	margin-left: 63.5%;
	margin-top: 41.2%;
}

#fr
{
	margin-left: 30.5%;
	margin-top: 34%;
}

#uk
{
	margin-left: 26.7%;
	margin-top: 23.5%;
}

#it
{
	margin-left: 42.3%;
	margin-top: 36.8%;
}

#ru
{
	margin-left: 85%;
	margin-top: 16%;
}

#ge
{
	margin-left: 41%;
	margin-top: 26.5%;
	font-size: 1.6vw;
}